---
---

$white: #fff;
$seagreen: #008785;
$gray: #bebebe;


.coverage {
  .list-items,
  .row {
    margin: 0;
  }

  .functions {
    border-top: solid 1px $gray;
  }

  .targets {
    background-color: $seagreen;
    color: $white;

    h4 {
      padding: 13px 0;
    }
  }

  h2 {
    padding: 37px 0 20px;
  }
}
