---
---

.test-report {

    p {
        padding: 10px;
    }

    .total {
        h2 {
            padding-top: 2px;
        }
    }

    .test-suite {
        cursor: pointer;
        margin: 11.5px 0px;
    }

    .test-suite--failing {
        h4 {
            background-color: #FA4444;
            padding: 4px 4px;
            color: #000000;
            overflow: auto;
        }
    }

    .test-suite--passing {
        h4 {
          background-color: #6fba6f;
          padding: 4px 4px;
          color: #000000;
          overflow: auto;
        }
    }

    .test-case--passing {
        margin-left: 0px;
        margin-right: 0px;
        border-bottom: groove;
        border-width: 1px;
        border-color: #6fba6f;
        background-color: #eaeaea;
    }

    .test-case--failing {
        margin-left: 0px;
        margin-right: 0px;
        border-bottom: groove;
        border-width: 1px;
        border-color: #FA4444;
        background-color: #eaeaea;
    }
}
